.img{
    margin-bottom: 10px;
}

#story{
    -webkit-text-stroke: 2px black;
      text-shadow: 2px 2px 0 red, -2px -2px 0 red;
      display: inline-block;
      display: flex;
      justify-content: center;
} 
